<fieldset *ngIf="isRendered && formInitialized">
  <legend>{{config.label}}</legend>

  <ng-container
    *ngFor="let conf of items; let i = index;"
    dynamicFormElement
    [config]="conf"
    [group]="currentFormItem">
    <button class="btn btn-danger" (click)="removeGroup(conf.key)">Remove Me!</button>
  </ng-container>


  <!--   -->
  <button class="btn btn-secondary" (click)="addGroup()">Add</button>

  <item-errors [config]="config" [group]="currentFormItem"></item-errors>

  <div *ngIf="currentFormItem.status == 'PENDING'">
    Validation is pending...
  </div>
  <small [attr.id]="config.key+'Help'" class="form-text text-muted"></small>

</fieldset>
