<div [formGroup]="group" *ngIf="formInitialized && isRendered">
  <label [attr.for]="config.key" [attr.class]="'form-control-label'">
    {{config.label}}
  </label>

  <input
    [type]="config.inputType"
    [formControlName]="config.key"
    [ngClass]="getControlClass()"
    [formatterParserTextMask]="config">

  <small [attr.id]="config.key+'Help'" class="form-text text-muted">{{currentFormItem.value}}<br/>{{config.helpText}}</small>

  <item-errors [config]="config" [group]="currentFormItem">
  </item-errors>

  <div *ngIf="getCurrentStatus() == 'PENDING'">
    Validation is pending...
  </div>

</div>
