<div [formGroup]="group"
     *ngIf="formInitialized && isRendered">

  <label [attr.class]="'form-check-label'" *ngFor="let opt of config.options">
    <input type="radio"
           [formControlName]="config.key"
           [name]="config.key"
           [attr.class]="getControlClass()"
           [value]="opt.label">
    {{opt.value}}
  </label>


  <small [attr.id]="config.key+'Help'" class="form-text text-muted">{{currentFormItem.value}}<br/>{{config.helpText}}
  </small>

  <messages [config]="config" [group]="currentFormItem">
  </messages>

  <div *ngIf="getCurrentStatus() == 'PENDING'">
    Validation is pending...
  </div>


</div>
