<fieldset [attr.class]="getFormGroupClass()">
  <legend>{{formGroupConfig.title}}</legend>

  <div *ngFor="let item of formGroupConfig.items">

    <df-form-group [formGroupConfig]="item" [form]="form"></df-form-group>
    <df-item *ngIf="item.controlType !== 'button'&& item.controlType !== 'formGroup'" [item]="item" [form]="form"></df-item>

    <df-button *ngIf="item.controlType === 'button'" [item]="item" [form]="form"></df-button>
    <!-- -->
  </div>
  <ng-content></ng-content>
</fieldset>
