<!---->
  <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">

  <dynamic-form-group
    [config]="configSelectionForm"
    (onGroupValueChanged)="updateFormConfig($event)">
  </dynamic-form-group>

  <button type="submit" class="btn btn-prinmary">Submit</button>

</form>

<div class="row">

  <div class="col-sm-6">
<!--
    <div novalidate>

      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>

      <fieldset class="form-group row">
        <legend>Personal Data</legend>
        <div class="form-group col-sm-6">
          <label for="firstname">First name</label>
          <input type="text" class="form-control" id="firstname" placeholder="Password">
        </div>
        <div class="form-group col-sm-6">
          <label for="firstname">First name</label>
          <input type="text" class="form-control" id="firstname" placeholder="Password">
        </div>
        <div class="form-group col-sm-6">
          <label for="firstname">First name</label>
          <input type="text" class="form-control" id="firstname" placeholder="Password">
        </div>
        <div class="form-group col-sm-6">
          <label for="firstname">First name</label>
          <input type="text" class="form-control" id="firstname" placeholder="Password">
        </div>
      </fieldset>

      <button type="submit" class="btn btn-primary">Submit</button>

    </div>
-->
    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">

      <dynamic-form-group
        [config]="formConfig"
        (onGroupValueChanged)="onDynamicFormChange($event)">
      </dynamic-form-group>

    </form>

  </div>

  <div class="col-sm-6">
    FormModel:
    <pre>{{formModel | json}}</pre>
  </div>

</div>
