<form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">

  {{getConfigMap() | json}}
  <dynamic-form-group
    [config]="configSelectionForm"
    (onGroupValueChanged)="updateFormConfig($event)">
  </dynamic-form-group>

  <button type="submit" class="btn btn-prinmary">Submit</button>

</form>

<div class="row">

  <div class="col-sm-6">

    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">

      <dynamic-form-group
        [config]="formConfig"
        (onGroupValueChanged)="onDynamicFormChange($event)">
      </dynamic-form-group>

    </form>
  </div>

  <div class="col-sm-6">
    FormModel:
    <pre>{{formModel | json}}</pre>
  </div>

</div>
