<form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <div class="form-group">
    <label>Demo form configs</label>
    <select
      class="form-control"
      name="formConfigSelect"
      [formControlName]="formConfigSelect"
      (change)="updateFormConfig(formConfigSelect.value.formItems)"
      required>
      <option [ngValue]="">{{noOpt || "-- noOpt --"}}</option>
      <option *ngFor="let opt of demoForms" [ngValue]="opt.key">{{opt.value}}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-prinmary">Submit</button>


<div class="row">

  <div class="col-sm-6">

    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">

      <dynamic-form-group
        [config]="formConfig"
        [group]="form"
        (onGroupValueChanged)="onDynamicFormChange($event)">
      </dynamic-form-group>

    </form>
  </div>

  <div class="col-sm-6">
    FormModel:
    <pre>{{formModel | json}}</pre>
  </div>

</div>
