<div [formGroup]="group" *ngIf="isRendered" class="{{getWrapperClass()}}">

  <label [attr.for]="config.key" [attr.class]="'form-control-label'">
    {{config.label}}
  </label>

  <input
    [type]="config.inputType"
    #search [formControlName]="config.key"
    [ngClass]="getControlClass()"
    formatterParser
    interactionHandler
    [config]="config"
    [group]="currentFormItem">

  <!--
  <item-errors [config]="config" [group]="currentFormItem">
  </item-errors>

  <div *ngIf="getCurrentStatus() == 'PENDING'">
    Validation is pending...
  </div>

  <small [attr.id]="config.key+'Help'" class="form-text text-muted">{{getCurrentValue()}}</small>
  -->

</div>
