<div [formGroup]="form">

  <div *ngFor="let config of items" class="form-row">

    <df-form-group *ngIf="config.controlType === 'formGroup'" [config]="config" [form]="form"></df-form-group>

    <df-item *ngIf="config.controlType !== 'button' && config.controlType !== 'formGroup'" [config]="config" [form]="form"></df-item>

    <df-button *ngIf="config.controlType === 'button'" [config]="config" [form]="form"></df-button>
    <!--  -->
  </div>

  <p>Form valid:<br>{{form.valid}}</p>
</div>
<div *ngIf="payLoad" class="form-row">
  <strong>Saved the following values</strong><br>{{payLoad}}
</div>
