<!--
-->
<form novalidate [formGroup]="configSelectionForm" (ngSubmit)="onSubmitConfigSelection(configSelectionForm);">
  <!-- -->
  <dynamic-form-group
    [config]="configSelectionConfig"
    [group]="configSelectionForm">
  </dynamic-form-group>

  <!-- (click)="$event.stopPropagation()" -->
  <button type="submit" class="btn btn-prinmary">Submit</button>

</form>

<div class="row">

  <div class="col-sm-12">

    <div novalidate>
      <!-- -->
      <dynamic-form-group
        [group]="dynamicForm"
        [config]="formConfig">
      </dynamic-form-group>

    </div>

  </div>


</div>
