<div [formGroup]="group" *ngIf="formInitialized && isRendered">
  <label [attr.for]="config.key" [attr.class]="'form-control-label'"
         *ngIf="isLabelVisible('textbox')">
    {{config.label}}
  </label>

  <input
    [type]="config.inputType"
    *ngIf="isControlTypeVisible('textbox')"
    [formControlName]="config.key"
    [ngClass]="getControlClass()"
    [formatterParserTextMask]="config">

  <label [attr.class]="'form-check-label'" *ngFor="let opt of config.options">
    <input type="radio"
           [formControlName]="config.key"
           [attr.class]="getControlClass()"
           [value]="opt.label">
    {{opt.value}}
  </label>

  <label class="form-check-label"
         *ngIf="isControlTypeVisible('checkbox')">
    <input type="checkbox"
           [ngClass]="getControlClass()"
           [formControlName]="config.key"
           name="{{config.key}}">
    {{config.label}}
  </label>

  <select
    *ngIf="isControlTypeVisible('select')"
    [ngClass]="getControlClass()"
    [formControlName]="config.key">

    <option *ngIf="isNoOptPresent()" [ngValue]="" (click)="select(config.noOptKey)">{{getNoOptText()}}</option>
    <template ngFor let-opt [ngForOf]="config.visibleOptions">
      <optgroup *ngIf="opt.options" label="{{opt.label}}">
        <option *ngFor="let optChild of opt.options" [ngValue]="optChild.value">
          {{optChild.label}}
        </option>
      </optgroup>
      <option *ngIf="!opt.options" [attr.disabled]="opt.disabled?'':null" [value]="opt.value">{{opt.label}}</option>
    </template>

  </select>

  <textarea
    *ngIf="isControlTypeVisible('textarea')"
    [formControlName]="config.key"
    [ngClass]="getControlClass()"
    [formatterParserTextMask]="config">
  </textarea>

  <!-- -->
  <item-errors [config]="config" [group]="currentFormItem">
  </item-errors>

  <div *ngIf="getCurrentStatus() == 'PENDING'">
    Validation is pending...
  </div>

  <small [attr.id]="config.key+'Help'" class="form-text text-muted">{{currentFormItem.value}}<br/>{{config.helpText}}</small>

</div>
