<div [formGroup]="getParentFormGroup()" *ngIf="componentRendered" [attr.class]="getWrapperClass() + ' ' + getValidationClass()">

  <label [attr.for]="config.key" [attr.class]="'form-control-label'" *ngIf="isLabelVisible()">
    {{config.label}}
  </label>

  status:{{currentFormItem.status}}
      <input
        *ngIf="isControlTypeVisible('textbox')"
        [formControlName]="config.key"
        interactionHandler
        attrSetter
        [attrConf]="config"
        [attr.class]="getControlClass()">

      <div *ngIf="isControlTypeVisible('radio')">
        <div class="form-check" *ngFor="let option of config.options">
          <label [attr.class]="'form-check-label'">
            <input type="radio"
                   attrSetter
                   [attrConf]="config"
                   [formControlName]="config.key"
                   [attr.class]="getControlClass()"
                   [value]="option.value">
            {{option.value}}
          </label>
        </div>
      </div>

      <div class="form-check" *ngIf="isControlTypeVisible('checkbox')">
        <label class="form-check-label">
          <input type="checkbox"
            attrSetter
            [attrConf]="config"
            [attr.class]="getControlClass()"
            [formControlName]="config.key">
          {{config.label}}
        </label>
      </div>

      <select
        attrSetter
        [attrConf]="config"
        *ngIf="isControlTypeVisible('select')"
        [attr.class]="getControlClass()"
        [formControlName]="config.key">
        <option *ngIf="isNoOptPresent()" [ngValue]="" (click)="select(config.noOptKey)">{{getNoOptText()}}</option>

        <template ngFor let-opt [ngForOf]="config.visibleOptions">
          <optgroup *ngIf="opt.children" label="{{opt.value}}">
            <option *ngFor="let optChild of opt.children" [ngValue]="optChild.key" (click)="select(optChild.key)">
              {{optChild.value}}
            </option>
          </optgroup>
          <option *ngIf="!opt.children" [attr.disabled]="opt.disabled?'':null" [value]="opt.key" >{{opt.value}}</option>
        </template>
      </select>

      <textarea
        attrSetter
        [attrConf]="config"
        *ngIf="isControlTypeVisible('textarea')"
        [formControlName]="config.key"
        [attr.class]="getControlClass()">
       </textarea>

  <item-errors [config]="config" [group]="currentFormItem">
  </item-errors>

  <div *ngIf="currentFormItem.status == 'PENDING'">
    Validation is pending...
  </div>
  <!---->
  <small [attr.id]="config.key+'Help'" class="form-text text-muted">{{config.helpText}}</small>

</div>
