<nav class="navbar navbar-toggleable-sm navbar-light navbar-default">

  <a class="navbar-brand">MyFlight</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['textbox-components']">
            Textbox controls
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['checkbox-components']">
            Checkbox controls
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['radio-components']">
            Radio controls
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['select-components']">
            Select controls
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['textarea-components']">
            Textarea controls
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['button-components']">
            Button controls
          </a>
        </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-toggleable-sm navbar-light navbar-default">

  <a class="navbar-brand">MyFlight</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['formgroup-components']">
          FormGroup
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['formarray-components']">
          FormArray
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['validation-components']">
          Validation
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<start></start>
