<fieldset [attr.class]="getWrapperClass()">
  <legend>{{config.label}}</legend>
  status:{{currentFormItem.status}}

    <dynamic-form-group
      [config]="items"
      [group]="currentFormItem">
    </dynamic-form-group>

  <item-errors [config]="config" [group]="currentFormItem"></item-errors>

  <div *ngIf="currentFormItem.status == 'PENDING'">
    Validation is pending...
  </div>
  <small [attr.id]="config.key+'Help'" class="form-text text-muted"><pre>{{currentFormItem.value | json}}</pre></small>

</fieldset>
