<div [attr.class]="getWrapperClass()" [formGroup]="form" *ngIf="controlRendered">

  <label [attr.for]="item.key" [attr.class]="'form-control-label'" *ngIf="isLabelVisible()">
    {{item.label}}
  </label>

  <input *ngIf="isControlTypeVisible('textbox')"
         [formControlName]="item.key"
         [id]="item.key"
         [type]="item.type"
         [attr.class]="getControlClass()"
         [attr.aria-describedby]="item.key+'Help'"
         [attr.placeholder]="item.placeholder">

  <div *ngIf="isControlTypeVisible('radio')">
    <div class="form-check" *ngFor="let option of item.options">
      <label [attr.class]="getLabelClass()">
        <input [type]="item.type"
               [id]="item.key + '--' + option.key"
               [formControlName]="item.key"
               [attr.class]="getControlClass()"
               [checked]="item.formState"
               [value]="option.key">
      </label>
    </div>
  </div>

  <div class="form-check" *ngIf="isControlTypeVisible('checkbox')">
    <label class="form-check-label" [attr.for]="item.key">
      <input [formControlName]="item.key"
             [type]="item.type"
             [id]="item.key"
             [attr.class]="getControlClass()"
             [attr.aria-describedby]="item.key+'Help'"
             [attr.placeholder]="item.placeholder">
      {{item.label}}
    </label>
  </div>

  <select
    *ngIf="isControlTypeVisible('select')"
    [id]="item.key"
    [formControlName]="item.key"
    [attr.class]="getControlClass()"
    [attr.aria-describedby]="item.key+'Help'"
    [attr.placeholder]="item.placeholder">
    <template ngFor let-opt [ngForOf]="item.options">
      <optgroup *ngIf="opt.children" label="{{opt.value}}">
        <option *ngFor="let optChild of opt.children" [ngValue]="optChild.key" (click)="select(optChild.key)">
          {{optChild.value}}
        </option>
      </optgroup>
      <option *ngIf="!opt.children" [ngValue]="opt.key" (click)="select(opt.key)">{{opt.value}}</option>
    </template>
  </select>

  <select
    *ngIf="isControlTypeVisible('multiselect')"
    multiple
    [id]="item.key"
    [formControlName]="item.key"
    [attr.class]="'form-control'"
    [attr.aria-describedby]="item.key+'Help'"
    [attr.placeholder]="item.placeholder">
    <template ngFor let-opt [ngForOf]="item.options">
      <optgroup *ngIf="opt.children" label="{{opt.value}}">
        <option *ngFor="let optChild of opt.children" [ngValue]="optChild.key" (click)="select(optChild.key)">
          {{optChild.value}}
        </option>
      </optgroup>
      <option *ngIf="!opt.children" [ngValue]="opt.key" (click)="select(opt.key)">{{opt.value}}</option>
    </template>
  </select>

  <textarea
    *ngIf="isControlTypeVisible('textarea')"
    [id]="item.key"
    [formControlName]="item.key"
    [attr.class]="getControlClass()"
    [attr.aria-describedby]="item.key+'Help'"
    [attr.placeholder]="item.placeholder">
   </textarea>

  <item-errors [item]="item" [form]="form"></item-errors>

  <small [attr.id]="item.key+'Help'" class="form-text text-muted">{{item.helpText}}</small>
</div>
